/* Structure */
.example-container {
  display: inline;
  flex-direction: line;
  min-width: 300px;
  margin:10px;

  dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
  }

  dd {
    margin-left: 0px;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: left;
  justify-content: left;
}

.mat-flat-button {
  margin: 5px;
}
