<div class="example-container mat-elevation-z8">
  <h2>Lista de clientes cadastrados</h2>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/add-clients']"
      ><mat-icon>add</mat-icon> Clientes</a
    >
    <a mat-flat-button color="accent" [routerLink]="['/clients-edit']"
      ><mat-icon>bar_chart</mat-icon> Editar</a
    >
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="data"
      class="example-table"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="asc"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="cpfCnpj">
        <th mat-header-cell *matHeaderCellDef>Cpf Cnpj</th>
        <td mat-cell *matCellDef="let row">{{ row.cpfCnpj }}</td>
      </ng-container>

      <ng-container matColumnDef="nascimento">
        <th mat-header-cell *matHeaderCellDef>Data Nascimento</th>
        <td mat-cell *matCellDef="let row">{{ row.nascimento }}</td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let row">{{ row.sexo }}</td>
      </ng-container>
      <!-- Mostrar inscEstadual somente se passar de 11 caracteres em cpfCnpj -->
      <ng-container matColumnDef="inscEstadual">
        <th mat-header-cell *matHeaderCellDef>inscEstadual</th>
        <td mat-cell *matCellDef="let row">{{ row.inscEstadual }}</td>
      </ng-container>

      <ng-container matColumnDef="profissao">
        <th mat-header-cell *matHeaderCellDef>Profissao</th>
        <td mat-cell *matCellDef="let row">{{ row.profissao }}</td>
      </ng-container>
      <!-- Lista de endereços -->
      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef>Cep</th>
        <td mat-cell *matCellDef="let row">{{ row.address.cep }}</td>
      </ng-container>

      <ng-container matColumnDef="logradouro">
        <th mat-header-cell *matHeaderCellDef>Logradouro</th>
        <td mat-cell *matCellDef="let row">{{ row.address.logradouro }}</td>
      </ng-container>

      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let row">{{ row.address.num }}</td>
      </ng-container>

      <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef>Bairro</th>
        <td mat-cell *matCellDef="let row">{{ row.address.bairro }}</td>
      </ng-container>

      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef>Cidade</th>
        <td mat-cell *matCellDef="let row">{{ row.address.cidade }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let row">{{ row.address.estado }}</td>
      </ng-container>

      <ng-container matColumnDef="complemento">
        <th mat-header-cell *matHeaderCellDef>Complemento</th>
        <td mat-cell *matCellDef="let row">{{ row.address.complemento }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/clients-details/', row.id]"
      ></tr>
    </table>
  </div>
</div>
