<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="app.component.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Teste Bitti</title>
  </head>
  <body>
    <div id="client-input"></div>
    <div id="adrress-input">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCep">Cep</label>
            <input type="Cep" class="form-control" id="inputCep" />
          </div>
          <div class="form-group col-md-6">
            <label for="inputLogradouro">Logradouro</label>
            <input
              type="Logradouro"
              class="form-control"
              id="inputLogradouro4"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumero">Numero</label>
          <input type="text" class="form-control" id="inputNumero" />
        </div>
        <div class="form-group">
          <label for="inputBairro">Bairro</label>
          <input type="text" class="form-control" id="inputBairro" />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCidade">Cidade</label>
            <input type="text" class="form-control" id="inputCidade" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEstado">Estado</label>
            <select id="inputEstado" class="form-control">
              <option selected>Choose...</option>
              <option>RS</option>
              <option>SC</option>
              <option>PR</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
